
/**
* -------------
* Global Styles
* -------------
*/

body {font-family: poppins-regular;
  font-size: 16px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}
h1 {
  background-color:#fcce00 ;
  font-family: 'poppins-black' ;
  color: white;
  font-size: 88px;
  text-align: center;
  font-weight: 900;
}

h2 {background-color:  #ff6b00;
  font-family: 'Poppins-black';
  color:white;
  font-size: 38px;
  text-align: center;
  margin: 8px 0;
}

.title {background-color:#fcce00;
width: 1440px;
height: 128px;
margin: 0 0 8px;
padding: 0 416px 5px;
opacity: 81%;}

.section-title {background-color: #ff6b00 ;
width: 1440px;
height: 64px;
padding: 6px 478px 5px;
opacity: 81%;}

.header_deco--red {background-color: #e02020;
  width: 1440px;
  height:32px ;
  margin: 2px;
  border: 1px white;
 }

.header_deco--purple {background-color: #b620e0;
width: 1440px;
height: 16px;
margin: 8px 0;
opacity: 81%;}

.header_deco--blue{background-color: #6236ff;
width: 1440px;
height: 8px;
margin: 8px 0 0;
opacity: 81%;}

h3 {
}
.sub-title1{font-family: 'poppins-black';
  font-size: 40px;
  text-align: center;
  color: black;
 margin: 64px 0;}
 
h4 {
}

.sub-title{font-family: "poppins-bold";
font-size: 24px;
width:654px ;
height: 66px;
text-align: center;
margin: 0 31px 34px 0;
width: 640px;
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;}

.paragraphe-header{  width: 640px;
  height: 345px;
  margin: 34px 31px 30px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;}

.bloc-ordi1{background-image: url(../img/bg-yellow.png);}
.bloc-ordi1 img{display: flex;
  width: 487px;
  height: 471px;
  object-fit: right;
  text-align: center;}


.CTA-1{
  width: 185px;
  height: 48px;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px #fcce00;
 display: block;}

  .bouton{color:#fcce00 ;}

  .learnmore{ width: 113px;
    height: 28px;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fcce00}

  .bloc-ordi1{background-position:right bottom;
    flex-basis: 320px;
    flex-grow: 1;
  }
    
  
  .bloc-ordi1 img{mix-blend-mode: darken;
  }



.sub-title2{ width: 654px;
  height: 66px;
  margin: 0 0 32px 32px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;}

  .paragraphe2{ 
    margin: 32px 14px 32px 32px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #231f20;}
    
    
    .CTA-2{ width: 185px;
      height: 48px;
      margin: 32px 14px 150px 487px;
      padding: 10px 36px;
      border-radius: 15px;
      border: solid 4px #ff6b00}
    
     .bouton1{color: #ff6b00;} 
     
     .learnmore{ width: 113px;
      height: 28px;
      font-family: "Poppins";
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ff6b00}

      .bloc-ordi2{background-position: top left;
        background-size:auto 100 px;
        background-image: url(../img/bg-orange.png);
        display: flex;
        justify-content: flex left;
        align-items: flex left ;
        flex-basis: 320px;
        flex-grow: 1;}

        .bloc-ordi2 img{mix-blend-mode: darken;
        }


.bloc-illu3{background-image: url(../img/bg-red.png);
display: flex left;
flex-basis:320px;
}   

.bloc-illu3 img{mix-blend-mode: darken;
}

.subtitle{ width: 430px;
  height: 56px;
  margin: 64px 505px 64px 503px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;}

.blocparagraphe3{font-size: 32px;
color: white;
}

.paragraphetitle3{font-size: 32px;
color: white;}

.paragraphe3{color: white;
  width: 487px;
  height: 66px;
  margin: 32px 153px 32px 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  }

  .bouton3{width: 113px;
    height: 28px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white}

  

.bloc3{background-image: url(../img/bg-red.png);}
.bloc3 img{mix-blend-mode: darken;}
.bloc-illu3{background-image: url(../img/bg-red.png);
display: flex;
flex-basis: 320px;}
.bloc-illu3 img {mix-blend-mode: darken;}

.bloc-illu4{background-image: url(../img/bg-violet.png);
display: flex;
flex-basis: 320px;}
.bloc-illu4 img{mix-blend-mode: darken;}
.bloc4{background-image: url(../img/bg-violet.png);}
.bloc4 img{mix-blend-mode: darken;}

.paragraphetitle4{font-size: 32px ;
color: white;}

.paragraphe4{color: white;
font-size: 24px;
}
.bouton4{color: white;
font-size: 20px;
}

.CTA-4{width: 185px;
  height: 45px;
  margin: 32px 458px 0 0;
  padding: 7px 24px 7px 23px;
  border-radius: 15px;
  border: solid 4px var(--white);
}
.sub-title4{width: 316px;
  height: 56px;
  margin: 0 211.5px 64px 208.5px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
padding-top: 1em;}

.bloc5{background-image: url(../img/bg-blue.png);}
.bloc5 img {mix-blend-mode: darken;}
.bloc-illu5{background-image: url(../img/bg-blue.png);
display: flex;
flex-basis: 320px;}
.bloc-illu5 img{mix-blend-mode: darken;}

.paragraphetitle5{width: 640px;
  height: 45px;
  margin: 0 0 32px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white}
  
  .paragraphe5{width: 487px;
    height: 66px;
    margin: 32px 153px 32px 0;
    font-family: Poppins;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white}

    .bouton5{color: white;
    font-size: 20px;}

.game-list{
display: grid; /* une grille de 4 colonnes égales */
grid-template-columns: 1fr 1fr 1fr 1fr; /* repeat(4, 1fr)*/
grid-gap:20px; /* gouttière de 20 px */
/* l'article mis en avant occupera */
margin-left: 4em ;
margin-right: 4em;
grid-column: span 2; /* trois cellules (cases) horizontales */
grid-row: span 2; /* et deux verticales */
}

.game-list{width: 1440px;
  height: 2229px;
  margin: 641px 0 0;
  padding: 64px 30px 597px 34px;
  background-color: #231f20;}

.game{ position: relative;
 max-width: 320px;
 margin: auto;
 color: white;
 margin-bottom: 32px;
 border-radius: 15px;
}


.game-title{width: 280px;
  height: 69px;
  margin: 32px 0 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;}

.game-categorie{width: 117px;
  height: 20px;
  margin: 0 82px 8px 81px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  text-align: flex left;}


.game-list1{display: grid;
  display: grid; /* une grille de 4 colonnes égales */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* repeat(4, 1fr)*/
  grid-gap:20px; /* gouttière de 20 px */
  /* l'article mis en avant occupera */
  margin-left: 4em ;
  margin-right: 4em;
  grid-column: span 2; /* trois cellules (cases) horizontales */
  grid-row: span 2; /* et deux verticales */
  }

.contact{width: 170px;
  height: 56px;
  margin: 64px 284.5px 64px 67.5px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  }

.form-row{font-family:poppins;
font-size: 15px;
line-height:2.5;
font-weight: 900;
text-align: center;
color: white;
padding-bottom: 2em;
}

.name{width: 49px;
  height: 23px;
  margin: 64px 81px 5px 222px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:white;}



  

h5 {
  
}

h6 {
  
}


a {
  /* Link color */
}

a:hover {
}