
/**
* -------------
* Global Styles
* -------------
*/

body {font-family: poppins-regular;
  font-size: 16px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}
h1 {
  background-color:#fcce00 ;
  font-family: 'poppins-black' ;
  color: white;
  font-size: 88px;
  text-align: center;
  font-weight: 900;
}

h2 {background-color:  #ff6b00;
  font-family: 'Poppins-black';
  color:white;
  font-size: 38px;
  text-align: center;
  margin: 8px 0;
}

.title {background-color:#fcce00;
width: 1440px;
height: 128px;
margin: 0 0 8px;
padding: 0 416px 5px;
opacity: 81%;}

.section-title {background-color: #ff6b00 ;
width: 1440px;
height: 64px;
padding: 6px 478px 5px;
opacity: 81%;}

.header_deco--red {background-color: #e02020;
  width: 1440px;
  height:32px ;
  margin: 2px;
  border: 1px white;
 }

.header_deco--purple {background-color: #b620e0;
width: 1440px;
height: 16px;
margin: 8px 0;
opacity: 81%;}

.header_deco--blue{background-color: #6236ff;
width: 1440px;
height: 8px;
margin: 8px 0 0;
opacity: 81%;}

h3 {
}
.sub-title1{font-family: 'poppins-black';
  font-size: 40px;
  text-align: center;
  color: black;
 margin: 64px 0;}
 
h4 {
}

.sub-title{font-family: "poppins-bold";
font-size: 24px;
width:654px ;
height: 66px;
text-align: center;
margin: 0 31px 34px 0;
width: 640px;
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;}

.paragraphe-header{  width: 640px;
  height: 345px;
  margin: 34px 31px 30px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;}

.bloc-ordi1{background-image: url(../img/bg-yellow.png);}
.bloc-ordi1 img{display: flex;
  width: 487px;
  height: 471px;
  object-fit: right;
  text-align: center;}


.CTA-1{
  width: 185px;
  height: 48px;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px #fcce00;
 display: block;}

  .bouton{color:#fcce00 ;}

  .learnmore{ width: 113px;
    height: 28px;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fcce00}

  .bloc-ordi1{background-position:right bottom;
    flex-basis: 320px;
    flex-grow: 1;
  }
    
  
  .bloc-ordi1 img{mix-blend-mode: darken;
  }



.sub-title2{ width: 654px;
  height: 66px;
  margin: 0 0 32px 32px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;}

  .paragraphe2{ 
    margin: 32px 14px 32px 32px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #231f20;}
    
    
    .CTA-2{ width: 185px;
      height: 48px;
      margin: 32px 14px 150px 487px;
      padding: 10px 36px;
      border-radius: 15px;
      border: solid 4px #ff6b00}
    
     .bouton1{color: #ff6b00;} 
     
     .learnmore{ width: 113px;
      height: 28px;
      font-family: "Poppins";
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ff6b00}

      .bloc-ordi2{background-position: top left;
        background-size:auto 100 px;
        background-image: url(../img/bg-orange.png);
        display: flex;
        justify-content: flex left;
        align-items: flex left ;
        flex-basis: 320px;
        flex-grow: 1;}

        .bloc-ordi2 img{mix-blend-mode: darken;
        }


      
.subtitle{ width: 430px;
  height: 56px;
  margin: 64px 505px 64px 503px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;}

  .bloc3 {background-image: url(../img/bg-red.png);
       color: #ffffff;
      display: flex;
      flex-basis:320px;
       flex-grow: 1;}   

.bloc3 img{mix-blend-mode: darken;
display: flex ;}

.blocparagraphe3{text-align: left;
margin-bottom: 6%;}

.paragraphetitle3{font-size: 32px;}

.illu{}

.bloc4{ background-image: url(../img/bg-violet.png);
  color: #ffffff;
  display: inline-block;
  flex-basis:320px;
   flex-grow: 1;}

.bloc4 img { mix-blend-mode: darken;
display: block;}

.blocparagraphe4{text-align: left;
margin-bottom: 6%;}

.paragraphetitle4{font-size: 32px;}

h5 {
  
}

h6 {
  
}


a {
  /* Link color */
}

a:hover {
}