
/**
* -------------
* Global Styles
* -------------
*/

body {font-family: poppins-regular;
  font-size: 16px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
  background-color:#fcce00 ;
  font-family: 'poppins-black' ;
  color: white;
  font-size: 88px;
  text-align: center;
  font-weight: 900;
}

h2 {background-color:  #ff6b00;
  font-family: 'Poppins-black';
  color:white;
  font-size: 38px;
  text-align: center;
  margin: 8px 0;
}

.title {background-color:#fcce00;
width: 1440px;
height: 128px;
margin: 0 0 8px;
padding: 0 416px 5px;
opacity: 81%;}

.section-title {background-color: #ff6b00 ;
width: 1440px;
height: 64px;
padding: 6px 478px 5px;
opacity: 81%;}

.header_deco--red {background-color: #e02020;
  width: 1440px;
  height:32px ;
  margin: 2px;
  border: 1px white;
 }

.header_deco--purple {background-color: #b620e0;
width: 1440px;
height: 16px;
margin: 8px 0;
opacity: 81%;}

.header_deco--blue{background-color: #6236ff;
width: 1440px;
height: 8px;
margin: 8px 0 0;
opacity: 81%;}

h3 {
}
.sub-title1{font-family: 'poppins-black';
  font-size: 40px;
  text-align: center;
  color: black;
 margin: 64px 0;}
 
h4 {
}

.sub-title{font-family: "poppins-bold";
font-size: 24px;
width:654px ;
height: 66px;
text-align: center;
margin: 0 31px 34px 0;
width: 640px;
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;}

.paragraphe-header{  width: 640px;
  height: 345px;
  margin: 34px 31px 30px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify}

  .bloc-ordi1{position: relative;
        width: 487px;
        height: 471px;
        object-fit: contain}
.CTA-1{
  width: 185px;
  height: 48px;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px #fcce00}

  .bouton{color:#fcce00 ;}

  .learnmore{ width: 113px;
    height: 28px;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fcce00}

.sub-title2{ width: 654px;
  height: 66px;
  margin: 0 0 32px 32px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;}

  .paragraphe2{ 
    margin: 32px 14px 32px 32px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #231f20;}
    
    
    .CTA-2{ width: 185px;
      height: 48px;
      margin: 32px 14px 150px 487px;
      padding: 10px 36px;
      border-radius: 15px;
      border: solid 4px #ff6b00}
    
     .bouton1{color: #ff6b00;

    } 
     
     .learnmore{ width: 113px;
      height: 28px;
      font-family: "Poppins";
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ff6b00}

     
h5 {
  
}

h6 {
  
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/